@use "./reset.scss";
@use "./header.scss";
@use "./navigation.scss";
@use "./cards.scss";
@use "./cart.scss";
body {
  font-family: "Nunito Sans";
}
.container {
  padding: 40px;
  background: #fff;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
}

.content {
  .content-title {
    font-weight: 900;
    font-size: 32px;
    margin: 15px 0;
  }
}
@media screen and (max-width: 980px) {
  .catalog-item {
    max-width: calc(100% / 12 * 12 - 30px);
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: calc(100% / 12 * 6 - 20px);
  }
  .navigation {
    display: block;
    margin: 15px 0px;
    .nav-sorting {
      margin: 15px 0;
    }
  }
}

@media screen and (max-width: 760px) {
  .content-title {
    order: 2;
    margin: 15px auto;
    text-align: center;
  }
  .navigation-container {
    flex-direction: column;
  }
  .cart {
    // width: 600px;
    width: 100%;
  }
  .cart-container {
    width: 100%;
  }

  .navigation-kinds {
    justify-content: center;
    margin-top: 20px;
  }
  .container {
    padding: 10px;
  }
  .card {
    width: calc(100% / 12 * 6 - 20px);
  }
}
@media screen and (max-width: 620px) {
  .cart {
    top: 0;
    bottom: 0;
  }
  header {
    position: static;
    padding: 0;
    box-shadow: none;
    .texttt {
      justify-content: center;
    }
  }
  .navigation-kinds {
    display: block;
    p {
      margin-top: 5px;
    }
  }
  .wrapper {
    padding: 20px;
  }
  .header {
    display: block;
    .header-cart {
      margin-top: 10px;
    }
  }
  .card {
    width: calc(100% / 12 * 12 - 20px);

    .pizza-options {
      width: 80%;
      margin: 0 auto;
    }
  }
  .header-cart {
    justify-content: center;
  }
}
