header {
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: #e6e6e6 2px solid;
  z-index: 1000; /* Установите z-index, чтобы хедер находился поверх других элементов */
  .header-text {
    margin: 0 20px;
    align-items: center;
  }
  h1 {
    font-weight: 900;
    font-family: "Nunito Sans";
    text-transform: uppercase;
  }
  p {
    color: #7b7b7b;
    font-size: 16px;
  }
  .header-cart {
    background-color: #eb5a1e;
    border-radius: 30px;
    padding: 15px 20px;
    // background-color: #8d97db;
    font-weight: 700;
    text-align: center;
    align-items: center;
    p {
      color: #ffffff;
    }
    img {
      margin: 4px 5px;
    }
  }
  .header-line::after {
    display: block;
    content: "";
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 10px;
  }
}
/// текст біля лого
.texttt {
  text-wrap: nowrap;

  text-decoration: none;
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: #181818; /* Используем цвет текста родительского элемента */
  cursor: pointer; /* Изменяем курсор при наведении */
}
.wrapper {
  padding: 40px;
  margin: 0 auto;
  // background-color: #7b7b7b;
}
.header-line_2::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(156, 152, 152, 0.467);
}
